# =========================
# Build / Compilados
# =========================
*.json
*.log
*.tmp

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Databricks / Spark
# =========================
dbfs/
logs/

# =========================
# Credenciais / Secrets
# =========================
credenciais/
.env
.env.*
